[submodule "caluma"]
	path = caluma
	url = https://github.com/ganwell/caluma.git
[submodule "graphene"]
	path = graphene
	url = https://github.com/ganwell/graphene.git
[submodule "graphene-django"]
	path = graphene-django
	url = https://github.com/ganwell/graphene-django.git
[submodule "graphql-core"]
	path = graphql-core
	url = https://github.com/ganwell/graphql-core-next.git
[submodule "graphql-relay-py"]
	path = graphql-relay-py
	url = https://github.com/ganwell/graphql-relay-py.git
