[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"
ipdb = "*"
black = "==19.3b0"
801bbaf = {file = "/data/files/wasmer-0.4.1-py3-none-any.whl"}
dateparser = "==0.7.4"
django = "==2.2.11"
django-cors-headers = "==3.2.1"
django-environ = "==0.4.5"
django-extensions = "==2.2.8"
django-filter = "==2.2.0"
django-localized-fields = "==5.4.2"
django-postgres-extra = "==1.22"
djangorestframework = "==3.11.0"
django-simple-history = "==2.8.0"
graphene = "==2.1.8"
graphene-django = "==2.8.2"
graphql-core = "==2.2.1"
graphql-relay = "==2.0.1"
idna = "==2.9"
minio = "==5.0.8"
psycopg2-binary = "==2.8.4"
pyjexl = "==0.2.3"
python-memcached = "==1.59"
requests = "==2.23.0"
urllib3 = "==1.25.8"
uwsgi = "==2.0.18"
factory-boy = "==2.12.0"
faker = "==4.0.2"
flake8 = "==3.7.9"
flake8-bugbear = "==20.1.4"
flake8-debugger = "==3.2.1"
flake8-docstrings = "==1.5.0"
flake8-isort = "==2.9.1"
flake8-string-format = "==0.3.0"
flake8-tuple = "==0.4.1"
isort = "==4.3.21"
pydocstyle = "==5.0.2"
pytest = "==5.3.5"
pytest-cov = "==2.8.1"
pytest-django = "==3.9.0"
pytest-env = "==0.6.2"
pytest-factoryboy = "==2.0.3"
pytest-mock = "==3.0.0"
pytest-randomly = "==3.2.1"
pytest-xdist = "==1.31.0"
python-semantic-release = "==5.0.2"
requests-mock = "==1.7.0"
snapshottest = "==0.5.1"
reuse = "==0.8.1"
gitlint = "==0.13.1"

[packages]
graphene-django = {editable = true,extras = ["test"],path = "./graphene-django"}
graphql-core = {editable = true,path = "./graphql-core"}
graphql-relay = {editable = true,path = "./graphql-relay-py"}
graphene = {editable = true,extras = ["test"],path = "./graphene"}
dateparser = "==0.7.4"
django-cors-headers = "==3.2.1"
django-environ = "==0.4.5"
django-extensions = "==2.2.8"
django-filter = "==2.2.0"
django-localized-fields = "==5.4.2"
django-postgres-extra = "==1.22"
djangorestframework = "==3.11.0"
django-simple-history = "==2.8.0"
idna = "==2.9"
minio = "==5.0.8"
psycopg2-binary = "==2.8.4"
pyjexl = "==0.2.3"
python-memcached = "==1.59"
requests = "==2.23.0"
urllib3 = "==1.25.8"
Django = "==2.2.11"
uWSGI = "==2.0.18"

[requires]
python_version = "3.7"
